/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
/*Añadiendo color,posicion y fuente al texto de todo el cuerpo*/
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color:rgb(255, 255, 255);
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
/*Añadiendo estilos al header*/
header {
  width: 100%;
  height: 100px;
  background-color:rgb(255, 255, 255);
  position: fixed;
  z-index: 10;
}
/*Añadiendo estilos a la barra de navegación*/
#navigation-bar {
  width: 700px;
  height: 100%;
  padding: 20px 40px;

}
.options {
  display: inline-block;
  padding: 10px ;
  margin-left: 100px;
}
/*Definiendo la posición del logo*/
#logo{
  width: 100px;
  float: right;
  margin-top:-8%;
  margin-right: 120px;
}
/*Definiendo el contenedor principal*/
#wrapper {
  width: 100%;
  height: 2100px;
  position: absolute;
}
/*Añadiendo estilos a la primera sección*/
#first-container {
  width: 100%;
  height:700px;
  background-image: url(../assets/images/bg-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#text-box {
  padding: 300px;
  font-size: 20px;

}
#bigger-words{
  font-size: 40px;
  text-transform: uppercase;
}
#button {
  background: rgb(25, 175, 54);
  padding:20px;
  position: absolute;
  margin: 100px -60px;
}
h2 {
  margin: 0px;
}
/*Añadiendo estilos a la segunda sección*/
#second-container {
  width: 100%;
  height: 700px;
  background: rgb(231, 137, 137);
  padding:50px;
}
.service-boxes {
  display: inline-block;
  margin: 100px;
}
.service-images {
  width:200px;
  height:200px;
}
/*Añadiendo estilos a la tercera sección*/
#third-container {
  width: 100%;
  height: 1100px;
  color:black;
  padding: 30px;
}
#figure-hero {
  width: 1000px;
  height: 1000px;
}

#work-text{
  padding:30px;
}
.image-work {
  width:250px;
  height: 250px;
  margin: 50px;
}
.after-box{
  color: black;
  text-transform: uppercase;
}

#image-box{
  column-count: 3;
  padding:100px;
}
/*Añadiendo estilos al pie de pagina*/
footer{
  width: 100%;
  height: 50px;
  background: rgb(64, 68, 87);
  padding:15px;
}
