/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color:rgb(255, 255, 255);
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
header {
  width: 100%;
  height: 100px;
  background-color:rgb(255, 255, 255);
  outline: 1px solid black;
}
#navigation-bar {
  width: 700px;
  height: 100%;
  padding: 20px 40px;

}
.options {
  display: inline-block;
  padding: 20px ;
  margin-left: 100px;
}

#logo{
  width: 100px;
  float: right;
  margin-top:-9%;
  margin-right: 120px;
}
#first-container {
  position: absolute;
  width: 100%;
  height:700px;
  background-image: url(../assets/images/bg-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#text-box {
  padding: 200px;
  font-size: 20px;

}
#button {
  background: rgb(25, 175, 54);
  padding:20px;
}
h2 {
  margin: 0px;
}
#second-container {
  width: 100%;
  height: 700px;
  background: rgb(231, 137, 137);
}
#third-container {
  height: 700px;
  color:black;
}
